<h1 class="text-xl ml-3 font-black">Where is everyone eating lunch today?</h1>
<section class="flex flex-wrap">
  <%= for restaurant <- @restaurants do %>
    <div class="m-3 relative w-60">
      <div class="bg-cover bg-gradient-to-r from-sky-200 to-indigo-200 h-36 mb-1">
        <div class="bg-white inline-block m-2 rounded p-1">
          <%= Map.get(@votes, restaurant.id, 0) %> 🏃‍♂️
        </div>
        <div class="text-7xl text-center">
          <%= {"🍕", "🌮", "🌭", "🍱", "🍔", "🧋", "🥪"} |> elem(rem(restaurant.id, 7)) %>
        </div>
      </div>
      <button
        phx-click="vote"
        phx-value-id={restaurant.id}
        class="bg-red-600 bottom-0 font-bold text-white w-full"
      >
        I'm Eating Here Today
      </button>
      <div class="font-bold"><%= restaurant.name %></div>
      <div class="font-extralight">🍽 <%= restaurant.food_items %></div>
      <div class="font-extralight">📍 <%= restaurant.address %></div>
      <div class="font-extralight">🗺 <%= restaurant.location_description %></div>
    </div>
  <% end %>
</section>
